.main{
  border: 2px solid blue;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
h2{
  color: brown;
}
a{
  color: brown;
  font-size: 40px;
  word-wrap: break-word;
}
.left{
  border: 2px solid blue;
  padding: 2%;
  margin: 2%;
  width: 30%;
}


#name{
  color: purple;
  font-size: 30px;
  text-align: center;
}
.left img{
  width: 50%;
  border-radius: 50%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid orange;
  padding: 2%;
  margin: 2%;
  width: 70%;
}
@media only screen and (min-width: 481px) and (max-width: 760px){
  .main{
    border: 2px solid blue;
    padding: 2%;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  h2{
    color: brown;
  }
  a{
    color: brown;
    font-size: 20px;
    word-wrap: break-word;
  }
  .left{
    border: 2px solid blue;
    padding: 2%;
    margin: 2%;
    width: 90%;
    text-align: center;
      background-color: grey;
    font-size: 20px;
  }
  #name{
    color: purple;
    font-size: 30px;
    text-align: center;
  }
  .table1{
    width:90%;
    overflow-x: auto;
  }
  .left img{
    width: 40%;
    border-radius: 50%;
    border: 2px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right{
    border: 2px solid orange;
    padding: 2%;
    margin: 2%;
    width: 40%;
    background-color: pink;
    font-size: 20px;
    }
}
